
.bakim-layout {
    background-color: var(--lumo-base-color);
}

.bakim-title {
    color: var(--lumo-error-color);
    margin-bottom: 0;
}

.bakim-text {
    color: var(--lumo-secondary-text-color);
    margin-top: 0;
}

.bakim-home-btn {
    margin-top: 20px;
}